@import '../../../scss/variables.scss';

h1 {
    font-size: $mainSize;
    font-weight: $fontWeight;
    color: #a6a7a7;
}

.table {


    &_firstPlayer {
        grid-area: FirstPlayer;
        border-bottom: 1px solid $borderColor;
    }

    &_secoundPlayer {
        grid-area: SecoundPlayer;
    }

    &_battleTable {
        grid-area: BattleTable;
        border-left: 1px solid $borderColor;
    }

    &_firstPlayer,
    &_secoundPlayer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.player {


    &_info {
        display: flex;

        &>h1 {
            margin: 0 0 15px 85px;
        }
    }

    &_score {
        color: #1a73e8;
        font-size: 23px;
        border: 1px solid #1a73e8;
        padding: 0px 8px;
        border-radius: 8px;
        align-self: center;
        margin: 0 0 15px 18px;
    }
}