// Main Colors
$bgColor: #22252a;
$containersColor: #22252a;
$textColor: #a2a2a2;
$borderColor: #323639;
$accentColor: #1a73e8;
// Font Sizes
$fontWeight: 500;
$mainSize: 30px;
// Overlays 
$overlayBg: rgba(0, 0, 0, .5)
