@import '/variables.scss';
@import './src/app/modules/StartParams/StartParams.scss';
@import './src/app/components/players/players.scss';
@import './src/app/components/BattleTable/BattleTable.scss';
@import './src/app/components/cards/Card.scss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: 'Open Sans';
    background: $bgColor;
    color: $textColor;
    height: 100%;
    margin: 0;
}

.cardGame_Content {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
}

.table {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        'FirstPlayer BattleTable'
        'SecoundPlayer BattleTable';
    height: 100%;
    width: 100%;
}

.button {

    &--cardGame {
        align-self: center;
        width: 100px;
        background: #1a73e8;
        color: #ffffff;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 40px;
        padding: 0 15px;
        border-radius: 4px;
        letter-spacing: 0.3px;
        font-size: .825rem;
        cursor: pointer;
        font-family: 'Open Sans';
        font-weight: 600;
        text-align: center;
    }

    &--results {
        background: none;
        margin: 15px auto;
        font-size: 16px;
        color: #e4e4e6;
    }
}

.cardGame {

    &_gameOver {
        text-align: center;
        border: 1px solid #323639;
        border-radius: 8px;
        display: block;
        width: 420px;
        margin: auto;
        padding: 10px 25px;

        &_playersScore {
            display: flex;
            justify-content: center;

            &>div {
                width: 120px;
                color: white;
                border: 1px solid #323639;
                margin: 20px 15px;
                border-radius: 8px;

                &>p {
                    font-size: 30px !important;
                    margin: 12px;
                }

                &>h3 {
                    letter-spacing: 0.3px;
                    font-weight: 500;
                }
            }
        }

        &>i {
            font-size: 70px;
            border: 1px solid #323639;
            width: 120px;
            border-radius: 180px;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px auto;
        }

        &>h1 {
            color: #e4e4e6;
            font-size: 40px;
        }

        &>h3 {
            color: #b6b6b8;
        }
    }
}

.icon {
    &_win {
        color: #e2d100;
    }

    &_lose {
        color: #fff;
    }

    &_draw {
        color: #fff;
    }
}

.result {
    &_win {
        color: green;
    }

    &_lose {
        color: red;
    }
}