$mainSize: 30px;
$fontWeight: 500;

@font-face {
    font-family: 'FARegular';
    src: url('http://192.168.0.100/site/fonts/FontAwesomePro/fa-regular-400.woff2') format('woff2'),
        url('http://192.168.0.100/site/fonts/FontAwesomePro/fa-regular-400.woff') format('woff');
}

@font-face {
    font-family: Gsense-regular;
    src: url(http://192.168.0.100/site/fonts/gsense/gsense-regular.ttf);
}

@font-face {
    font-family: Gsense-medium;
    src: url(http://192.168.0.100/site/fonts/gsense/gsense-medium.ttf);
}

body {
    font-family: gsense-regular;
}

h1 {
    font-size: $mainSize;
    font-weight: $fontWeight;
    color: #a6a7a7;
}

.cards {
    display: flex;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battle-table {
    display: flex;
    justify-content: center;
    width: 1190px;

    &-status {
        border: 1px solid #323639;
        border-radius: 8px;
        padding: 0 10px;
    }

    &-score {
        display: flex;
        flex-direction: column;
        align-items: center;

        &>h3 {
            font-size: 25px;
            letter-spacing: 0.3px;
            font-weight: $fontWeight;
            margin: 8px 0;
        }
    }
}

.card {
    margin: 20px;
    display: flex;
    flex-direction: column;
    position: relative;

    &_info {
        display: none;

        &:hover>.card_img {
            filter: blur(3px);
        }

    }

    &_ready {
        display: flex;
        width: 600px;

        &:first-child {
            justify-content: flex-end;
        }

        &:last-child {
            justify-content: flex-start;
        }
    }

    &_img>img {
        border-radius: 8px;
        width: 200px;
        height: 300px;
    }

    &:hover>.card_img {
        filter: blur(3px);
        transition: 0.5s;

        &--battle {
            filter: none;
        }
    }

    &:hover>.card_info {
        display: flex;
        flex-wrap: wrap;
        color: #fff;
        position: absolute;
        width: -webkit-fill-available;
    }

    &_cover {
        width: 200px;
        height: 300px;
        margin: 20px;
        border-radius: 8px;
    }
}

.info_skill {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid #000 1px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 70px;
    margin: 13px;
    height: 72px;

    &--battle {
        background: none;
        padding: 3px;
        border: 1px solid #323639;
        padding: 5px;
        height: 42px;
        width: 75px;
        position: relative;

        &:first-child {
            width: 100%;
            height: 30px;
        }

        &:first-child,
        :last-child {
            position: relative;
            top: 0;
            font-weight: 600;
        }

        &>p {
            color: #a6a7a7;
            font-weight: 600;
        }

        &>h3 {
            color: #969696;
            position: absolute;
            top: -22px;
            padding: 0 5px;
            background: #22252a;
        }
    }

    &>h3 {
        font-size: 13px;
        letter-spacing: 0.3px;
    }
}

.current_card_info {
    width: 230px;
    flex-wrap: wrap;
    height: fit-content;
    align-self: center;
    color: #fff;
}

.ipsButton {

    &--cardGame {
        align-self: center;
        width: 100px;
        background: #1a73e8;
        color: #ffffff;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 40px;
        padding: 0 15px;
        border-radius: 4px;
        letter-spacing: 0.3px;
        font-size: .825rem;
        cursor: pointer;
        font-family: gsense-medium;
        text-align: center;
    }

    &--results {
        background: none;
        margin: 15px auto;
        font-size: 16px;
        color: #e4e4e6;
    }
}

.interactive-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    color: #fff;
    padding: 25px;
}

.score-sides {
    display: flex;

    &>p {
        font-size: 26px;
        margin: 5px 25px
    }
}

.cardGame {

    &_gameOver {
        text-align: center;
        border: 1px solid #323639;
        border-radius: 8px;
        display: block;
        width: fit-content;
        margin: auto;
        padding: 10px 25px;
        margin-top: 13%;

        &_playersScore {
            display: flex;

            &>div {
                width: 120px;
                color: white;
                border: 1px solid #323639;
                margin: 20px 15px;
                border-radius: 8px;

                &>p {
                    font-size: 30px !important;
                    margin: 12px;
                }

                &>h3 {
                    letter-spacing: 0.3px;
                    font-weight: 500;
                }
            }
        }

        &>i {
            font-size: 70px;
            border: 1px solid #323639;
            width: 120px;
            border-radius: 180px;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px auto;
        }

        &>h1 {
            color: #e4e4e6;
            font-size: 40px;
        }

        &>h3 {
            color: #b6b6b8;
        }
    }
}

.icon {
    &_win {
        color: #e2d100;
    }

    &_lose {
        color: #fff;
    }

    &_draw {
        color: #fff;
    }
}

.result {
    &_win {
        color: green;
    }

    &_lose {
        color: red;
    }
}